spring:
  application:
    name: 'api-gateway'
  output:
    ansi:
      enabled: ALWAYS
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
server:
  port: ${SERVER_PORT:8765}