spring:
  application:
    name: service-discovery
  profiles:
    active: ${PROFILE_ACTIVE}
  output:
    ansi:
      enabled: ALWAYS
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: America/Sao_Paulo
  cloud:
    config:
      enabled: false

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

server:
  port: ${SERVER_PORT:8761}
