server:
  port: ${PORT:8888}

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          default-label: master
          uri: ${CONFIG_SERVER_URI}
          username: ${CONFIG_SERVER_USERNAME}
          password: ${CONFIG_SERVER_PASSWORD}

  output:
    ansi:
      enabled: ALWAYS
